<div class="container user_header">
  <div class="row">
    <%= render 'sidebar' %>
    <div class="col-md-offset-1 col-md-8 user_tellme">

      <div class="row">
        <div class="col-md-9">
          <h2>Your #tellMe's</h2>
        </div>

        <div class="col-md-3">
          <form class="form-inline user_refresh" action="/jakekaad" method="post">
            <button class="btn btn-info" submit="submit">#tellMe Now</button>
          </form>
        </div>

      </div>
      <div class='row'>

        <% @images.each do |image| %>
        <div class='col-md-12 user_tellme__post'>
          <div class="col-md-4">
            <%= link_to image.url do %>
              <%= image_tag(image.url, class: 'business_tellme__img') %>
            <% end %>
            <p class="user_tellme__business-name"><%= image.business.name %></p>
          </div>
          <div class="col-md-8">
            <p class="user_tellme__body">
              <%= image.business.message %>
            </p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
